<div class="divPrincipal">
  <form (ngSubmit)="unaNuevaTarea()">
    <div class="mb-3 divContenido">
      <label for="nombreTarea" class="form-label titulo"
        >Nombre de la tarea</label
      >
      <input
        type="text"
        class="form-control"
        id="nombreTarea"
        [(ngModel)]="tareaNueva.name"
        [ngModelOptions]="{ standalone: true }"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3 form-check divCheck">
      <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        [(ngModel)]="tareaNueva.finalizada"
        [ngModelOptions]="{ standalone: true }"
      />
      <label class="form-check-label finalizada" for="exampleCheck1"
        >Finalizada</label
      >
    </div>
    <button type="submit" class="btn btn-primary">Añadir</button>
  </form>
</div>
