.container{
  height: 70%;
  width: 60%;
  align-items: center;
}

.list-group-item{
  height: 80px;
  background-color:rgba(145, 142, 142, 0.664);
}

button{
  height: 50px;
  border-radius: 10px;
}

.list-group {
  max-height: 300px; /* Altura máxima que permite el scroll */
  overflow-y: auto;  /* Activa el desplazamiento vertical */
}
