<nav class="navegadorPrincipal">
  <a [routerLink]="['/aniadirTarea']" routerLinkActive="router-link-active" ><button class="botonNavegador">Añadir Nueva Tarea</button></a>
  <a [routerLink]="['/mostrarTareas']" routerLinkActive="router-link-active"><button class="botonNavegador">Mostrar Tareas</button></a>
  <a [routerLink]="['/tareaEliminadas']" routerLinkActive="router-link-active"><button class="botonNavegador">Tareas Eliminadas</button></a>
  <a [routerLink]="['/tareaFinalizadas']" routerLinkActive="router-link-active"><button class="botonNavegador">Tareas Finalizadas</button></a>
</nav>
