/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  overflow: hidden; /* Desactiva el desplazamiento */
  height: 100%;
  /* Asegura que el contenido se ajuste al tamaño de la ventana */
}
body {
  background-color: #044d4dc5;
}
body::before,
body::after {
  content: "";
  position: absolute;
  top: -100px;
  bottom: -100px;
  width: 75px;
  background-color: #816004;
  transform: rotate(0deg);
  border-radius: 10px;
  z-index: -1;
}

body::before {
  left: 7%; /* Ajuste de la posición hacia la derecha */
}

body::after {
  left: 90%; /* Ajuste de la posición hacia la derecha */
}
